#innerTextCardContainer{
    height: 448px;
    width: 608px;
}

#pHeading,
#faqPHeading, 
#cardHeading,
#faqCardHeading,
#dtpLine1,
#rightDtpLine1,
#faqRightDtpLine1, 
#dtpLine2,
#rightDtpLine2,
#faqRightDtpLine2,
#dtpLine3,
#footerTxt,
#faqLinkText,
#button,
#buttonRight,
#faqButton,
#rightCardHeading,
#rightPHeading,
#imgCard,
#imgCardLeft{
    position: absolute;
}

#pHeading, 
#cardHeading,
#dtpLine1, 
#dtpLine2,
#dtpLine3,
#footerTxt,
#button {
    left: 69px;
}

#cardHeading, 
#rightCardHeading,
#faqCardHeading{
    top: 94px; 
    font-size:42px;
    line-height:48px;

}

#rightCardHeading{
    right: 300px;

}

#faqCardHeading{
    right: 332px;
}

#pHeading, 
#rightPHeading,
#faqPHeading{
    top: 159px;
}

#rightPHeading{
    right: 250px;
}

#faqPHeading{
    right: 164px;
}

#dtpLine1,
#rightDtpLine1,
#faqRightDtpLine1{
    top: 197px;
}

#rightDtpLine1{
    right: 146px;
}

#faqRightDtpLine1{
    right:180px;
}

#dtpLine2,
#rightDtpLine2,
#faqRightDtpLine2{
    top: 220px;
}

#rightDtpLine2{
    right: 210px; 
}

#faqRightDtpLine2{
    right: 357px;
}

#dtpLine3{
    top: 243px;
}

#faqLinkText{
    right: 218px;
    top: 255px;
}

#footerTxt{
    top: 280px;
}

#button, 
#buttonRight, 
#faqButton{
    border: 2px solid black;
    background-color: white;
    border-color: #0F1D2F; 
    color: black; 
    margin: 0 auto; 
    padding: 16px;
}

#button{
    top: 330px; 
    width: 225px;
}

#buttonRight{
    right: 307px; 
    top: 268px; 
    width: 278px;
}

#faqButton{
    right: 287px; 
    top: 312px; 
    width: 278px;

}

#cardMedia, 
#imgCard,
#imgCardLeft{
    width: 544px; 
    height: 382px;
}

#imgCard, 
#imgCardLeft{
    top: 33px; 
}

#imgCard{
    left: 608px;  
}

#imgCardLeft{
    right: 608px;
}

#gridCont{
    margin: auto;
}

#outerCard{
    position: relative; 
    padding: 0px; 
    width: 1184px; 
    margin: 0 auto; 
    margin-bottom: 10px;
}

#linkText {
    color: #6df; 
}