page-title-grey-background {
    font-family: Work Sans;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
}

body {
    font-family: Work Sans;
    font-style: normal;
}

h1 {
    color: #FFE06D;
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
}