.page-section {
    width: 100%;
    min-height: 40vh;
    box-sizing: border-box;
    padding: 75px 0 50px 0;
}

.world-background {
    background: #004364;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/images/world-view.png');
}

.nav-button {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    width: 240px;
    padding: 10px;
    outline: none;
    border-radius: 22.5px;
    cursor: pointer;
    color: white;
    border: 1px solid #0CB2E7;
    background-color: #0CB2E7;
  }

body {
    font-family: Work Sans;
    font-style: normal;
}

h1 {
    color: #FFE06D;
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
}
